[mysqld]
skip-name-resolve
basedir         = {{ mysql_path  }}
datadir         = {{ mysql_path  }}/data
user            = mysql
port		= {{ port }}
socket		= {{ mysql_path  }}/mysql.sock
slow-query-log=1
long_query_time = 3
slow-query-log-file = {{ mysql_path  }}/data/slow.log
skip-external-locking
key_buffer_size = 8G
max_allowed_packet = 16M
table_open_cache = 256
sort_buffer_size = 16M
read_buffer_size = 16M
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1
myisam-recover-options

tmp_table_size = 1000M
max_heap_table_size = 1000M
max_connections = 5000
interactive_timeout = 120
wait_timeout = 120
back_log = 600
join_buffer_size = 16M
binlog_cache_size = 4M
bulk_insert_buffer_size = 64M
secure_auth = on
local_infile = OFF

thread_cache_size = 300
thread_stack = 384K
query_cache_size= 512M
query_cache_limit = 2M
query_cache_min_res_unit = 2K
thread_concurrency = 32
explicit_defaults_for_timestamp

log-bin = mysql-bin
log-slave-updates
binlog-ignore-db = mysql
binlog_format = mixed
expire_logs_days = 7
binlog_checksum = none
server-id	= 1
query_cache_type = 0


[mysqldump]
quick
max_allowed_packet = 64M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M

